{{define "navbar"}}
<html>
<head>
</head>
<body>
    <div
        class="navbar"
    >
    <a href="/"><h2>Notek.</h2></a>
    <div class="links">
        <a href="/about">О нас</a>
        <a href="/register"><button>Регистрация</button></a>
        <a href="/notes"><button>Войти</button></a>
    </div>
        <label class="switch">
            <input type="checkbox" onchange="handleChangeTheme(this)">
            <span class="slider round"></span>
        </label>
    </div>
    <script src="/js/setTheme.js" type="text/javascript"></script>
</body>
</html>
{{end}}