<html>
    <head>
        <title>{{ .Note.Name }}</title>
        <link href="{{ .css }}" rel="stylesheet" type="text/css">
        <script src="/js/setTheme.js" type="text/javascript"></script>
        <script src="/js/modal.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/js/interpretMd.js"></script>
    </head>
    <body>
        <div class="editor-container">
            {{ template "settings" .}}
            <div class="editor">
                <div class="note-head">
                    <div>
                        <a href="../"><button>Назад</button></a>
                        <h4>{{ .Note.Name }}</h4>
                    </div>
                    <div>
                        <p>{{ .Note.Created_Time.Format "2006-01-02 15:04" }}</p>
                        <button id="access-settings-button">Общий доступ</button>
                    </div>
                </div>
                <div class="markdowns">
                    <div class="redactor">
                        <textarea name="" id="editor" placeholder="Markdown Editor">
{{ .Note.Content }}
                        </textarea>
                    </div>
                    <div class="preview">
                        <div id="preview"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>