<html>
    <head>
        <title>Регистрация</title>
        <link href="{{ .css }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {{template "navbar" .}}
        <div class="register">
            <form>
                <h3>Регистрация</h3>
                <input placeholder="Фамилия" type="text" required></input>
                <input placeholder="Имя" type="text" required></input>
                <input placeholder="Отчество" type="text" required></input>
                <input placeholder="Почта" type="email" required></input>
                <input placeholder="Пароль" type="password" required></input>
                <input placeholder="Повторите пароль" type="password" required></input>
                <a href="/">Уже есть аккаунт?</a>
                <button type="Submit">Зарегестрироваться</button>
            </form>
        </div>
    </body>
</html>