{{define "sidebar"}}
<html>
<head>
    <script src="/js/setTheme.js" type="text/javascript"></script>
</head>
<body>
    <div id="access-settings-modal" class="modal" style="display: none;">
        <!-- Здесь будет содержимое модального окна -->
    </div>
    <div class="sidebar">
        <div class="header">
            <h2>Notek.</h2>
            <label class="switch">
                <input type="checkbox" onchange="handleChangeTheme(this)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="profile">
            <div class="sign" id="sign">
                <img src="/images/monkey.jpeg" />
                <h3>Timur Ayushiev</h3>
            </div>
            <a href="/"><button>Выйти</button></a>
        </div>
        <form class="search-note" method="GET" action="/search" type="submit">
            <input name="query" placeholder="Поиск"></input>
        </form>
        <div class="create-note">
            <h3>Markdown</h3>
            <button>+</button>
        </div>
        <div class="notes-container">
            {{ range .Notes }}
            <div class="note">
                <a href="../../notes/md/{{.Id}}">{{.Name}}</a>
                
                <button><img src="/images/trash.png"></img></button>
            </div>
            {{ end }}
        </div>
        <div class="notes-container">
            {{ range .Tasks }}
            <div class="note">
                <a href="../../notes/todo/{{.Id}}">{{.Name}}</a>
                <button><img src="/images/trash.png"></img></button>
            </div>
            {{end}}
        </div>

        <!-- Display search results here if available -->
        {{ if .SearchResults }}
        <div class="search-results">
            <h2>Реузльтат поиска для "{{.SearchQuery}}"</h2>
            <div class="notes-container">
                {{ range .SearchResults }}
                <div class="note">
                    <a href="{{ .Link }}">{{ .Title }}</a>
                    <button><img src="/images/trash.png"></img>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</body>
</html>
{{end}}
