<html>
    <head>
        <title>Редактор</title>
        <link href="{{ .css }}" rel="stylesheet" type="text/css">
        <script src="/js/setTheme.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/js/interpretMd.js"></script>
        <script src="/js/todo.js"></script>
    </head>
    <body>
        <div class="editor-container">
            <div class="editor">
                <div class="todo-head">
                    <a href="../"><button>Назад</button></a>
                    <h4>{{ .Task.Name }}</h4>
                </div>
                <div class="todo-list">
                    {{ range .Task.Content }}
                    <div class="todo">
                        <div class="todo-name-ts" id="todo">
                            <h4 class="todo-text">{{ . }}</h4>
                            <p>HH.MM.SS DD.MM.YYYY</p>
                        </div>
                        <input type="checkbox" class="todo-checkbox"></input>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>